/*--------------------------------------------------------------
Needed if using a fixed navbar
--------------------------------------------------------------*/

article {
    color: aqua;
}

.widget {
	&:first-child {
		margin: 0 10px 45px 0;
	}
	margin: 45px 10px;
}

.intro-effect-push header.header {
    left: 0;
    top: 0;
}

.col-md-12 {
  @include container;
}
.col-md-8 {
  @include columns(8);
}
.col-md-4{
  @include columns(4, last);
}

footer {
  @include container;
  clear: both;
}
