/*--------------------------------------------------------------
Needed if using a fixed navbar
--------------------------------------------------------------*/

article {
    color: aqua;
}

.widget {
	&:first-child {
		margin: 0 10px 45px 0;
	}
	margin: 45px 10px;
}

.intro-effect-push header.header {
    left: 0;
    top: 0;
}
